.create-team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f7decb, #f3a369, #f47822);
}

.form-container {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 24px; /* Aumentado para mayor separación */
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  color: #333;
  outline: none;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.jugador-input {
  display: flex;
  gap: 12px;
  margin-bottom: 16px; /* Aumentado para separar más los jugadores */
}

.remove-btn {
  background-color: #e74c3c;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #c0392b;
}

.add-btn {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #45a049;
}

.logo-input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #f47822;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}